body {
    margin: 8px auto;
    width: 70%;
    background-color: floralwhite;
    box-sizing: border-box;
}
h1 {
    background-color: antiquewhite;
    text-align: center;
    color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

ul {
    max-width: 700px;
    margin: 15px auto;
    padding: 4px;
}

li {
    background-color: beige;
    color: cornflowerblue;
    padding: 5px 10px;
}

a {
    color: lightcoral;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}